body {                      
    font-family: Helvetica;   
    background:fixed;
    background-color: black;
    background-image: url('sunset.png'); 
    background-repeat: no-repeat;
    background-position: top center;                    
    margin:0;
    padding:0;
    background-size: 1024px;
    overflow-x: hidden;
}    

.title{
    position: fixed; 
    top: 246px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 550px;
    color: transparent; 
    text-shadow: 0 0 2.5px#877245;
    font-size: 44px;
    text-align: center;
}      

#page-wrap { 
    width: 1024px;
    height:1086px;  
    margin: 0 auto;
    position:relative;
    top:50%;
    left:50%;
    margin-top:318px;
    margin-left:-512px;
    overflow-x: hidden;
}       

#content{
    background-image: url('roadnewin.png'); 
    width:1024px; 
    height:1086px; 
    overflow-x: hidden
}

.local{
    position: absolute;
    color: transparent; 
    text-shadow: 0 0 2px #949494;
    left: 326px;
    top: 380px;
}

.local h2, .west{
    display: inline;
}

.local h3{
    top: 20px;
}

a:link { 
    text-decoration: none;
}

.route {
    position: absolute;
    top:375px; 
    right:440px; 
}

.fi {
    font-size: 50px;
}

.r1{ 
    position: relative; 
    color: transparent; 
    top: 10px;
    text-shadow: 0 0 2px #b1b1b1;
    height: 60px;
    border-radius: 0px 0px 35px 35px ;
}

#r1t {
    position: relative;
}

#t {
    position: absolute;
    top: 22px;
    right: 16px;
}

.t1 { 
    position: absolute;
    top: -3px;
    left: 70px;
    font-size: 20px;
}

.r1:hover #t{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r1:hover .t1{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r1:hover #r1t{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r2{ 
    position: absolute; 
    top: 70px;
    color: transparent; 
    text-shadow: 0 0 2px #b1b1b1;
    height: 60px;
    border-radius: 0px 0px 35px 35px ;
}

#r2ig {
    position: relative;
}

#ig {
    position: absolute;
    top: 22px;
    right: 18px;
}

.ig1 { 
    position: absolute;
    top: -3px;
    left: 70px;
    font-size: 20px;
}

.r2:hover #ig{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r2:hover .ig1{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r2:hover #r2ig{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r3{ 
    position: absolute; 
    top: 128px;
    color: transparent; 
    text-shadow: 0 0 2px #b1b1b1;
    height: 60px;
    border-radius: 0px 0px 35px 35px ;
}

#r3ln {
    position: relative;
}

#ln {
    position: absolute;
    top: 22px;
    right: 15px;
}

.ln1 { 
    position: absolute;
    top: -3px;
    left: 70px;
    font-size: 20px;
}

.r3:hover #ln{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r3:hover .ln1{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r3:hover #r3ln{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.neonsign {
    position: absolute;
    background-color: black;
    height: 75px;
    width: 105px;
    top: 630px;
    left: 175px;
    text-align: center;
    z-index: 2;
}
.neonborder {
    position: absolute;
    top: 630px;
    left: 175px;
    height: 75px;
    width: 105px;
    border-radius: 10px;
    border: 0.1rem solid #fff;
    box-shadow: 0 0 .3rem #fff,
    inset 0 0 .3rem #fff,
    0 0 1rem #2c45d4,
    inset 0 0 1rem #2c45d4,
    0 0 1rem #2c45d4,
    inset 0 0 1.5rem #2c45d4; 
    z-index: 3;
}

.signpost {
    background-image: linear-gradient(to bottom, #414141, black);
    z-index: 1;
    height: 80px;
    width: 5px;
    position: absolute;
    top: 680px;
    left: 223px;
}

.neon{
    font-family: Delius Unicase;
    font-size:11px;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-weight: 200;
    letter-spacing: 4px;
    text-shadow: 0px 0px 2px  #fff, 0px 0px 2px #fff, 0px 0px 4px #2c45d4, 0px 0px 7px #2c45d4, 0px 0px 15px #2c45d4, 0px 0px 15px #2c45d4, 0px 0px 125px #2c45d4, 0px 0vw 200px #2c45d4,0px 0vw 200px #2c45d4;
}

.fa-solid {
    position: relative;
    -webkit-text-stroke: 1.25px #c55c5c;
    -webkit-text-fill-color: transparent;
    top: 50px;
    right: 5px;
    left: 2px;
    animation-name: rotate;
    animation-timing-function: steps(2, end);
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-delay: 0s;
    transform-origin: bottom left;
    text-shadow: 0px 0px 10px #000, 0px 0px 3px #d42c2c, 0px 0px 4px #d42c2c, 1px 1px 7px #d42c2c, 0px 0px 25px #d42c2c, 0px 0px 25px, 0px 0px 100px #d42c2c;
}

@keyframes rotate {
    0% {
    transform: rotate(0);
    }
    
    100% {
    transform: rotate(-0.1turn);
    }
}

.flicker-slow{
    animation: flicker 3s linear infinite;
}
  
.flicker-fast{
    animation: flicker 5s linear infinite;
}
  
@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;     
    }

    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    }
}

  
