body {                      
    font-family: overpass;   
    background:fixed;
    background-color: black;
    background-image: url('sunset.png'); 
    background-repeat: no-repeat;
    background-position: top center;                    
    margin:0;
    padding:0;
    background-size: 1024px;
    overflow-x: hidden;
}    

.title{
    position: fixed; 
    top: 246px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 790px;
    color: transparent; 
    text-shadow: 0 0 2.5px#877245;
    font-size: 44px;
    text-align: center;
}      

#page-wrap { 
    width: 1024px;
    height:1086px;  
    margin: 0 auto;
    position:relative;
    top:50%;
    left:50%;
    margin-top:318px;
    margin-left:-512px;
    overflow-x: hidden;
}       

#content{
    background-image: url('roadnewin.png'); 
    width:1024px; 
    height:1086px; 
    overflow-x: hidden
}

/* City sign */

.local{
    position: absolute;
    color: transparent; 
    text-shadow: 0 0 2px #949494;
    left: 324px;
    top: 380px;
    width: 200px;
    height: 500px;
}

.number {
    position: absolute;
    left: 34px;
    top: -18px
}

.west {
    position: absolute;
    font-size: 24px;
    left: 93px;
    top: -22px;
    font-weight: 100;
}

.city {
    position: absolute;
    font-size: 23px;
    left: 21px;
    padding-top: 17px;
}

.miles {
    position: absolute;
    left: 20px;
    top: 143px;
    font-weight: 700;
}

.local h2, .west{
    display: inline;
}

.local h3{
    top: 20px;
}

a:link { 
    text-decoration: none;
}

/* Social media links */

.route {
    position: absolute;
    top:377px; 
    right:440px; 
}

.fi {
    font-size: 50px;
}

.r1{ 
    position: relative; 
    color: transparent; 
    top: 10px;
    text-shadow: 0 0 2px #b1b1b1;
    height: 60px;
    border-radius: 0px 0px 35px 35px ;
}

#r1t {
    position: relative;
}

#t {
    position: absolute;
    top: 22px;
    right: 16px;
}

.t1 { 
    position: absolute;
    top: -3px;
    left: 57px;
    font-size: 20px;
}

.r1:hover #t{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r1:hover .t1{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r1:hover #r1t{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r2{ 
    position: absolute; 
    top: 70px;
    color: transparent; 
    text-shadow: 0 0 2px #b1b1b1;
    height: 60px;
    border-radius: 0px 0px 35px 35px ;
}

#r2ig {
    position: relative;
}

#ig {
    position: absolute;
    top: 22px;
    right: 18px;
}

.ig1 { 
    position: absolute;
    top: -3px;
    left: 57px;
    font-size: 20px;
}

.r2:hover #ig{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r2:hover .ig1{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r2:hover #r2ig{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r3{ 
    position: absolute; 
    top: 128px;
    color: transparent; 
    text-shadow: 0 0 2px #b1b1b1;
    height: 60px;
    border-radius: 0px 0px 35px 35px ;
}

#r3ln {
    position: relative;
}

#ln {
    position: absolute;
    top: 22px;
    right: 15px;
}

.ln1 { 
    position: absolute;
    top: -3px;
    left: 57px;
    font-size: 20px;
}

.r3:hover #ln{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r3:hover .ln1{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

.r3:hover #r3ln{
    color: transparent; 
    text-shadow: 0 0 2px #fff;
}

/* Neon sign */

.neonsign {
    position: absolute;
    background-color: black;
    height: 75px;
    width: 105px;
    top: 630px;
    left: 175px;
    text-align: center;
    border-radius: 10px;
    border: 0.1rem solid #fff;
    box-shadow: 0 0 .3rem #fff,
    inset 0 0 .3rem #fff,
    0 0 .8rem #2c45d4,
    inset 0 0 .8rem #2c45d4,
    0 0 .8rem #2c45d4,
    inset 0 0 .9rem #2c45d4; 
    z-index: 2;
    filter: blur(.45px) brightness(0.9);
}

.signpost {
    background-image: linear-gradient(to bottom, #414141, black);
    z-index: 1;
    height: 80px;
    width: 5px;
    position: absolute;
    top: 684px;
    left: 226px;
    filter: blur(.55px);
}

.neon{
    font-family: Delius Unicase;
    font-size:11px;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 53%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    letter-spacing: 4px;
    text-shadow: 0 0 .3rem #fff,
    0 0 .4rem #fff,
    0 0 .45rem #2c45d4,
    0 0 .5rem #2c45d4,
    0 0 .6rem #2c45d4,
    0 0 .8rem #2c45d4,
    0 0 1rem #2c45d4;
}

#sdog {
    position: relative;
	-webkit-text-stroke: 1.2px #e06f6f;
	-webkit-text-fill-color: transparent;
    top: 38px;
    left: 35px;
    animation-name: rotate;
    animation-timing-function: steps(2, end);
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-delay: 0s;
    transform-origin: bottom left;
    z-index: 10;
}

#bdog {
    position: relative;
    top: 38px;
    left: 4px;
    -webkit-text-stroke: 2.75px #d64141;
	-webkit-text-fill-color: transparent;
    filter: blur(2px);
    animation-name: rotate;
    animation-timing-function: steps(2, end);
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-delay: 0s;
    transform-origin: bottom left;
}

#arrowtop {
    position: relative;
	-webkit-text-stroke: 1.5px #181717;
	-webkit-text-fill-color: transparent;
    top: 77px;
    right: 28px;
    z-index: 10;
    font-size: 30px;
    transform: scale(1.5,1);
}

.neonsign:hover #arrowtop{
    animation: flicker 1.5s linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    -webkit-text-stroke: 1.5px #e06f6f;
	-webkit-text-fill-color: transparent;
}

.neonsign:hover #arrowbottom{
    animation: flicker 1.5s linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    -webkit-text-stroke: 3px #d64141;
	-webkit-text-fill-color: transparent;
}

#arrowbottom {
    position: relative;
    top: 45px;
    left: 3px;
    -webkit-text-stroke: 3px transparent;
	-webkit-text-fill-color: transparent;
    filter: blur(2.5px);
    font-size: 30px;
    transform: scale(1.5,1);
}

@keyframes rotate {
    0% {
    transform: rotate(0);
    }
    
    100% {
    transform: rotate(-0.1turn);
    }
}

.flicker-slow{
    animation: flicker 0s linear infinite;
}
  
.flicker-fast{
    animation: flicker 0s linear infinite;
}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 70%, 100% {
    opacity: .99;     
    }

    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.2;
    }
}

/* Smokey the bear */

.smokey {
    position: absolute;
    background-image: url('smokey.png');
    background-size: contain;
    height: 64px;
    width: 80px;
    top: 600px;
    left: 640px;
    transform: rotateY(20deg);
    filter: blur(.45px) brightness(60%);
}
